* {
    margin:0;
    padding:0;
}

body {
    background-color: hsl(229, 57%, 11%);
    color:hsl(243, 100%, 93%);
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100vw 50vh;
    height: 100vh;
    width:100vw;
    font-family: "Raleway", serif;
    display:flex;
    justify-content: center;
    align-items:center;
}

.all {
    display:flex;
    gap:2em;
    margin:auto;
    
}

p {
    font-size:1em;
}

span {
    font-size:1.5em;
    color:black;
    font-weight: 700;
}

.icon-main > img {
    height:2em;
    padding-bottom:1em;
}

.first, .second {
    background-color:hsl(228, 56%, 26%);
    width:fit-content;
    height:fit-content;
}

.first {
    padding:2em 6em 2em 2em;
    border-radius:0.5em 5em 0.5em 0.5em;
}

.icon-files > img {
    height:1em;
    width:1em;
    padding:0.6em;
    background-color: hsl(229, 57%, 11%);
    border-radius:0.5em;
}

.second {
    padding:2em;
    position:relative;
    margin-top:1.6em;
    border-radius:0.5em;
}

.second > p {
    margin-bottom:0.5em;
}

input[type="range"] {
    width:30em;
    accent-color:hsl(6, 100%, 80%);
}

.gb {
    display:flex;
    justify-content: space-between;
}

.message {
    padding:1em;
    background-color: white;
    color:hsl(229, 7%, 55%);
    width:fit-content;
    position:absolute;
    left:60em;
    bottom:25em;
    border-radius:0.5em 0.5em 0 0.5em;
}

.message::after {
    content: "";
    position:absolute;
    width: 0; 
    height: 0; 
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    
    border-right: 1.5em solid white;
    left:7.23em;
}

@media screen and (max-width:375px) {
    body {
        background-image: url("./images/bg-mobile.png");
        background-size:100vw 100vh;
        background-repeat: no-repeat;
        
    }

    .all {
        flex-direction: column;
    }

    .first {
        width:40vw;
    }

    .second {
        width:60vw;
        padding:2em 2em 3em 2em;
    }

    input[type="range"] {
        width:60vw;
    }

    .message {
        height: fit-content;
        left:7em;
        top:33.5em;
        border-radius:0.5em;
    }

    .message::after {
        display:none;
    }
}